body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: 21px;
}

.container {
  width: 1170px;
  margin: auto;
}

/* buttons */

.btn_white {
  display: block;
  color: #FFF;
  font-family: 'Open Sans';
  font-weight: 600;
  border: 2px solid #FFF;
}

.btn_white:hover {
  color: #EC7979;
  border: 2px solid #EC7979;
  transition: all .5s ease;
}

.btn_white:active {
  color: #ffffff;
  background-color: #AB4949;
  border: 2px solid #AB4949;
}

/* form */

.form input[type="text"], 
.form input[type="email"], 
.form input[type="password"],
.form textarea {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 15px;
  outline: none;
}

.form input[type="text"]::placeholder, 
.form input[type="email"]::placeholder, 
.form input[type="password"]::placeholder,
.form textarea::placeholder {
  color: #BDBDBD;
}

.form button, .tabs__btn {
  display: block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  background: #EC7979;
  border: none;
  color: #fff;
}

.form button:hover, 
.tabs__btn:hover {
  background: #AB4949;
  transition: all .5s ease;
}

.form button:active,
.tabs__btn:active {
  background: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
}

/* heading style */

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}


.heading__line {
  border: 1px solid #EC7979;
  width: 170px;
  margin: 54px auto 40px;
}

.heading__line_white {
  border: 1px solid #ffffff;
}

.heading p {
  color: #86878B;
}

.heading_white h2, .heading_white p {
  color: #FFFFFF;
}

/* header */

.header {
  background-color: #000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 87px;
}

.header__menu a {
  width: 114px;
  font-family: 'Open Sans';
  padding: 30px 0 24px 0;

  font-size: 14px;
  font-weight: 600; 
  display: inline-block;
  color: #FFF;
  text-align: center;
}

.header__menu a:hover {
  background: #EC7979;
  transition: all .5s ease;
}

.header__menu a:active {
  background: #AB4949;
}

/* main section */

.main {
  background: #000 url(/img/main_bg.jpg) no-repeat bottom center / cover;
  padding: 207px 0 185px 0;
}

.main .container {
  display: flex;
  justify-content: space-between;
}

.main__offer {
  margin-top: 23px;
  color: #FFF;
}

.main__offer h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 50px 0 55px 0;
  line-height: 56px;
}

.main__logo img, .main__offer__line {
  width: 170px;
}

.main__offer p {
  margin: 42px 0 42px 0;
}

.main__btn {
  padding: 15px 90px;
}

.main__form {
  width: 470px;
  height: 450px;
  border-radius: 10px;
  background: #FFF; 
  text-align: center;
}

.main__form legend {
  color: #333333;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 33px;
  margin:29px 0 73px;
}

.main__form legend span {
  color: #EC7979;
}

.main__form input {
  width: 370px;
  margin-bottom: 33px;
}

.main__form button {
  width: 100%;
  margin-top: 45px;
  padding: 20px 0;
  border-radius: 0px 0px 10px 10px;
}




/* social section */

.social {
  padding: 16px 0 18px 0;
  background: #F8EFEF;
}

.social .container {
  display: flex;
  justify-content: space-between;
}

.social__info h3 {
  color: #333;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 31px;
}

.social__icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* features section */

.tabs {
  padding: 99px 0 50px;
  display: flex;
  flex-wrap: wrap ;
}

label input {
  display: none;
}

label{
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding:10px 73px;
  cursor:pointer;
  color:#333333;
}

.tabs__content{
  order: 1;
  width: 100%;
  display: none;
  border: 1px #C6CBCD solid;
  position: relative;
  padding: 42px 0 50px 100px;
  z-index: -1;
}

label:has(input[type="radio"]:checked){
  color:#333333;
  border-top: 1px #C6CBCD solid;
  border-left:  1px #C6CBCD solid;
  border-right: 1px #C6CBCD solid; ;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative; 
}

label:has(input[type="radio"]:checked) + .tabs__content{
  display:initial;
}

label:has(input[type="radio"]:checked):after{
  content:'';
  display: block;
  width: 183px;
  border-bottom: 2px #FFF solid;
  left: 0;
  bottom: -1px;
  position: absolute;
  z-index: 2;
}

.tabs__content img {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
}

.tabs__content div {
  width: 570px;
  box-sizing: border-box;
}

.tabs__content h3 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

.tabs__content p {
  font-size: 18px;
  line-height: 21px;
  margin: 60px 0 37px;
}

.tabs__btn {
  display: inline-block;
  padding: 17.5px 91px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

/* about section */

.about {
  padding: 104px 0 58px;
}

.about__cards {
  display: flex;
  margin-top: 110px;
  justify-content: space-between;
  gap: 30px;
}

.about__item {
  text-align: center;
  width: 370px;
}

.about__item__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin: 73px 0 41px;
}

/* pricing section */

.pricing {
  padding: 104px 0 50px;
  background-color: #F5F5F5;
}

.pricing__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
  text-align: center;
  gap: 30px;
}

.pricing__item {
  width: 370px;
  transition: all 0.8s ease 0s;
  
}

.pricing__item:hover {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
  transform: translate(0px, -20px);
  
  
}

.pricing__item__title, .pricing__item__value, .pricing__item__free-for {
  background: #333333;
  border: 2px solid #F5F5F5;
}

.pricing__item__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding: 13px 0;
  color: #FFFFFF;
}

.pricing__item__value {
  padding: 29px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.pricing__item__free-for {
  padding: 15px 0;
  color: rgba(255, 255, 255, 0.5);
}

.pricing__item ul li {
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  color: #86878B;
  padding: 15px 0;
}

/* reviews section */

.reviews {
  padding: 104px 0 57px;
}

.reviews__cards {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.reviews__item {
  width: 370px;
}

.reviews__item__comment {
  background: #E2E2E2;
  border-radius: 10px;
  padding: 38px 23px;
  text-align: center;
  color: #86878B;
  position: relative;
}

.reviews__item__comment::after {
  content: " ";
  position: absolute;
  border: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
  bottom: -34px;
  left: 70px;
}

.reviews__item__author {
  display: flex;
  margin-top: 66px;
}

.reviews__item__author img {
  margin-right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  object-fit: cover;
}

.reviews__item__author p {
  margin: 11px 0 25px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

/* banner section */

.banner {
  padding: 104px 0 50px;
  background: #413A38 url(../img/banner_1.jpg) no-repeat center center;
}

.banner .heading {
  margin-bottom: 73px;
}

.banner__btn {
  padding: 15px 140px;
  margin: 0 auto;
}

/* contact section */

.contact {
  padding: 107px 0 50px;
}

.contact__form__inf {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 0;
}

.contact__form input[type="text"], 
.contact__form input[type="email"], 
.contact__form input[type="password"] {
  width: 571px;
  margin-bottom: 50px; 
}

.contact__form input[type="text"]::placeholder {
  color: #BDBDBD;
}

.contact__form textarea {
  width: 569px;
  overflow: hidden;
  resize: none;
  padding-bottom: 173px;
}

.contact__form button {
  padding: 20px 0;
  width: 370px;
  margin: auto;
}

/* footer */

.footer {
  padding: 35px 0 27px 0;
  background: #000;
  text-align: center;
}

.footer__icons a {
  display: inline-block;
  width: 53px;
  margin-right: 32px;
}

.footer__icons a:last-child {
  margin-right: 0;
}

.footer p {
  margin-top: 27px;
  color: rgba(255, 255, 255, 0.50);
}

