body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: 21px;
}

.container {
  width: 1170px;
  margin: auto;
}

/* buttons */

.btn_white {
  margin: 0 auto;
  display: block;
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
  border: 2px solid #FFF;
  width: 370px;
  height: 58px;
}

.btn_white:hover {
  color: #EC7979;
  border: 2px solid #EC7979;
}

.btn_white:active {
  color: #ffffff;
  background-color: #AB4949;
  border: 2px solid #AB4949;
}

/* heading style */

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}


.heading__line {
  border: 1px solid #EC7979;
  width: 170px;
  margin: 54px auto 40px;
}

.heading__line_white {
  border: 1px solid #ffffff;
}

.heading p {
  color: #86878B;
}

.heading_white h2, .heading_white p {
  color: #FFFFFF;
}


/* about section */

.about {
  padding: 104px 0 58px;
}

.about__cards {
  display: flex;
  margin-top: 110px;
  justify-content: space-between;
  gap: 30px;
}

.about__item {
  text-align: center;
  width: 370px;
}

.about__item__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin: 73px 0 41px;
}

/* pricing section */

.pricing {
  padding: 104px 0 50px;
  background-color: #F5F5F5;
}

.pricing__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
  text-align: center;
  gap: 30px;
}

.pricing__item {
  width: 370px;
}

.pricing__item:hover {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
  margin-top: -20px;
}

.pricing__item__title, .pricing__item__value, .pricing__item__free-for {
  background: #333333;
  border: 2px solid #F5F5F5;
}

.pricing__item__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding: 13px 0;
  color: #FFFFFF;
}

.pricing__item__value {
  padding: 29px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.pricing__item__free-for {
  padding: 15px 0;
  color: rgba(255, 255, 255, 0.5);
}

.pricing__item ul li {
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  color: #86878B;
  padding: 15px 0;
}

/* reviews section */

.reviews {
  padding: 104px 0 57px;
}

.reviews__cards {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.reviews__item {
  width: 370px;
}

.reviews__item__comment {
  background: #E2E2E2;
  border-radius: 10px;
  padding: 38px 23px;
  text-align: center;
  color: #86878B;
  position: relative;
}

.reviews__item__comment::after {
  content: " ";
  position: absolute;
  border: 15px solid transparent;
  border-top: 20px solid #E2E2E2;
  bottom: -34px;
  left: 70px;
}

.reviews__item__author {
  display: flex;
  margin-top: 66px;
}

.reviews__item__author img {
  margin-right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  object-fit: cover;
}

.reviews__item__author p {
  margin: 11px 0 25px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

/* banner section */

.banner {
  padding: 104px 0 50px;
  background: #413A38 url(../img/banner_1.jpg) no-repeat center center;
}

.banner .btn_white {
  margin-top: 73px;
}

